{% extends "base.html" %}
{% block title %}Последние обновления на сайте{% endblock %}
{% block content %}
{% load user_filters %}

<main role="main" class="container">
    <div class="row">
        {% include "includes/user_card.html" %}

            <div class="col-md-9">                
                {% for posts in page %}
                        {% include "includes/post_card.html" %}
                {% endfor %}

                {% include "paginator.html" %}
                
     </div>
    </div>
</main> 

{% endblock %} 
